body {
    background-color:#001632;
}

.titles h1 {
    color: lightblue;
}

.titles h3 {
    color: white;
}

.result {
    background-color: lightblue;
}

.input {
    background-color: #f8f9fa;
}

